<form>
<label for="totalWoodChips">{{labelTotalWoodChips}}</label>
<input id="totalWoodChips" type="text">

<label>{{labelTotalTermites}}</label>
<input id="totalTermites" type="text">

<button id="startButton">start</button>
</form>