<form>
<label for="totalWoodChips">{{labelTotalWoodChips}}</label>
<input id="totalWoodChips" type="text" value="1000">

<label>{{labelTotalTermites}}</label>
<input id="totalTermites" type="text" value="10">

<label>{{labelSensorLength}}</label>
<input id="sensorLength" type="text" value="10">

<button id="startButton">start</button>
</form>